/* Google font  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

/*=============================================

 Reseting default margin padding and box sizing

 ===================********===================
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}


/*
***********************************
 Header Style sheet start from here 
**********============*************
*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.influencer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    grid-column-gap: 30px;
}

.influencer-title h1 {
    color: #3a3a3a;
    font-size: 52px;
    font-weight: 700;
}

.influencer-title p {
    color: #3a3a3a;
    margin: 15px 0;
    line-height: 24px;
    font-weight: 600;
    font-size: 16px;
}

.influencer-title .primary-button {
    border: none;
    outline: 0;
    font-size: 16px;
    background-color: #e02c6d;
    padding: 10px 24px;
    border-radius: 41px;
    color: white;
    cursor: pointer;
    transform: translateY(-3px);
}

.primary-button:active {
    transform: skew(3deg, 0deg);
}

.primary-button .arrow {
    margin-left: 5px;
    text-align: center;
    font-size: 15px;
}

.influencer-photo {
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.influencer-photo img {
    width: 100%;
}


/* main section stylesheet */

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection {
    background: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
}

.collection-title {
    color: #3a3a3a;
    font-size: 28px;
    font-weight: 600;
    margin: 100px 0;
    text-align: center;
}

.collection-banner img {
    width: 100%;
    margin-bottom: 16px;
}

.collection-details .collection-name {
    color: #18191f;
    font-weight: 500;
    font-size: 28px;
}

.collection-details .collection-price {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

.collection-details .filled {
    color: #fb8200;
    font-size: 12px;
}

.collection-details .half-empty {
    color: #fb8200;
    font-size: 12px;
}

.collection-details .rating-point {
    margin-left: 8px;
    font-size: 14px;
    color: #5e6366;
}

.collection-details p {
    font: 14px;
    color: #787885;
}